@import url('https://fonts.googleapis.com/css2?family=Arima&family=Lato:ital,wght@1,900&display=swap');
body {
  background-image: url('../img/pattern.jpg');
  margin: 0px;
  font-family: 'Arima', cursive;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

li{
  display: inline;
  margin-right: 20px;
}

a{
  text-decoration: none;
}

a:hover{
  color: black;
  background-color: white;
}

section{
  background-color: white;
  margin: 90px 150px 20px;
  padding: 40px;
}

h1{
  text-align: center;
}

article{
  border-bottom: 2px solid gray;
  margin-bottom: 10px;
}

footer{
  background-color: black;
  padding: 10px;
}

h5{
  color: white;
  text-align: center;
}